language: python
sudo: false  # enable container-based build
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7

install:
  - pip install tox
  - pip install python-coveralls

script:
  - tox

after_success:
  - coveralls
